#burger-nav-display{
    height: 100dvh;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    padding-inline-start: 1rem;
    border: none;
    position: absolute;
    z-index: 3;
    transition: 0.4s ease;
}
.menu-item-link{
    color: #1D2026;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 2rem;
    transition: 0.4s ease;
}
.menu-item-link:hover{
    cursor: pointer;
}
