.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    height: 15dvh;
}
.nav-list-item{
 height: 100%;
 border: none;
 display: flex;
 align-items: center;
 color: #69707D;
}
.nav-list-item:hover{
    cursor: pointer;
    border-bottom: 4px solid #FF7E1B;
}